body {
    background-color: pink;
}
h1 {
    color: brown;
    text-decoration: line-through;
}

.ello {
    color: wheat;
    text-align: center;
    background-color: aqua;
}


#site-title {
    font-size: 24px;
    
}
.nav-bar {
            background-color: #333;
            color: white;
            padding: 10px;
        }

        .content {
            background-color: #f2f2f2;
            padding: 20px;
        }

        .footer {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
